{
  "env": {
    "node": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
    ],
    "prefer-const": [
      0
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 3,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ],
    "no-unexpected-multiline": "error",
    "no-var": [
      0
    ]
  }
}
