# User files
my-data/sepolia-testnet-address.txt
my-data/sepolia-testnet-private-key.txt
my-data/ethereum-mainnet-address.txt
my-data/ethereum-mainnet-private-key.txt

# Logs
logs

# Mostly ignore while developing:
typechain-types

# Config files
user-config.env

# NodeJS
node_modules

# Hardhat
cache
artifacts

# Typescript
build
