# User files
user-data/address.txt
user-data/private-key.txt
user-data/sepolia-testnet-address.txt
user-data/sepolia-testnet-private-key.txt
user-data/ethereum-mainnet-address.txt
user-data/ethereum-mainnet-private-key.txt

# Tool files
user-data/HelloWorld/update-message-local.json
user-data/HelloWorld/update-message-testnet.json
user-data/HelloWorld/update-message-mainnet.json

# Logs
logs

# Mostly ignore while developing:
typechain-types

# Config files
user-config.env

# NodeJS
node_modules

# Hardhat
cache
artifacts

# Typescript
build
